<div class="banner">
  <div class="container">
    <h1>Super <strong>FANCY</strong> cocktails!</h1>
    <p>What will you have today?</p>
  </div>
</div>

<div class="container">
  <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-3">
            <% if cocktail.photo.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
              <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('https://picsum.photos/300/400')">
              <% end %>
              <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>
        <%= link_to "Add a cocktail?", new_cocktail_path, class: "text-muted"    %>
      </ul>
    </div>
  </div>
</div>

